<div class="main">
  <div class="containerr">
    <div class="content-login-page">
      <div class="div-img-login-page">
        <img
          src="assets/Images/kisspng-test-of-english-as-a-foreign-language-toefl-inte-university-students-5adc6481f37037 2.png"
          alt="No image">
      </div>
      <div class="div-form-content-login-page">
        <h2>
          Գրանցվել
        </h2>
        <div class="div-form-login-page">
          <form>
            <div class="div-inputs-login-page">
              <input type="text" placeholder="Անուն Ազգանուն">
              <input type="email" placeholder="Էլ. հասցե">
              <input type="phone" placeholder="Հեռախոսահամար">
            </div>
            <div class="div-button-form-login">
              <button>
                <a href="#">
                  Գրանցվել
                </a>
              </button>
            </div>
          </form>
        </div>
        <div class="div-line">
          <hr class="gray-line"><span>կամ</span><hr class="gray-line">
        </div>
        <div class="div-socials">
          <a href=" https://www.google.com/ ">
          <div class="div-google">
            <img src="assets/Images/google.png" alt="No image">
            <span>
                GOOGLE
            </span>
          </div>
          </a>
          <a href="https://www.facebook.com/">
          <div class="div-fb">
            <img src="assets/Images/whitefb.png" alt="No image">
            <span>
              FACEBOOK
            </span>
          </div>
          </a>
          <a href="https://twitter.com/">
          <div class="div-tw">
            <img src="assets/Images/whitetw.png" alt="No image">
            <span>
                TWITTER
            </span>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
