<div class="main">
  <div class="containerr">
    <div class="content-header">
      <div class="logo">
        <a routerLink="/home">
          <img src="assets/Images/Сгруппировать 78 (2) 1.png" alt="No image">
        </a>
      </div>
      <div class="menu">
        <div class="div-icon-dropdown-menu" [matMenuTriggerFor]="menu">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="div-menu-mobile">
          <mat-menu #menu="matMenu" class="div-menu-mobile">
            <button mat-menu-item>
              <a routerLink="/home" class="link-menu" routerLinkActive="active">
                Գլխավոր
              </a>
            </button>
            <button mat-menu-item>
              <a routerLink="/about-us" class="link-menu" routerLinkActive="active">
                Մեր մասին
              </a>
            </button>
            <button mat-menu-item>
              <a routerLink="/lessons" class="link-menu" routerLinkActive="active">
                Դասընթացներ
              </a>
            </button>
            <button mat-menu-item>
              <a href="#contact-us" class="link-menu" routerLinkActive="active">
                Կապ
              </a>
            </button>
            <button mat-menu-item>
                <a routerLink="/registration-page" class="link-menu">
                  Գրանցվել
                </a>
            </button>
          </mat-menu>
        </div>
        <ul class="ul-menu">
          <li class="li_menu">
            <a routerLink="/home" class="link-menu" routerLinkActive="active">
              Գլխավոր
            </a>
          </li>
          <li class="li_menu">
            <a routerLink="/about-us" class="link-menu" routerLinkActive="active">
              Մեր մասին
            </a>
          </li>
          <li class="li_menu">
            <a routerLink="/lessons" class="link-menu" routerLinkActive="active">
              Դասընթացներ
            </a>
          </li>
          <li class="li_menu">
            <a href="#contact-us" class="link-menu" routerLinkActive="active">
              Կապ
            </a>
          </li>
          <li class="li_menu">
            <button class="button-reg">
              <a routerLink="/registration-page" class="link-menu">
                Գրանցվել
              </a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
