<div class="main">
  <div class="containerr">
    <div class="content-footer">
        <div class="div-footer-block-one">
          <div class="footer-logo">
            <div class="div-logo-footer">
              <a routerLink="/home">
                <img src="assets/Images/footer-logo.png" alt="No image">
              </a>
            </div>
            <div class="div-contacts-footer">
              <ul>
                <li class="li-footer">
                  <a href="#">
                    <img src="assets/Images/phone.png" alt="No image">
                    <span class="contact-footer-span">094 873 843</span>
                  </a>
                </li>
                <li class="li-footer">
                  <a href="https://mail.ru/mailto:trainings@it-lab.am">
                    <img src="assets/Images/mail.png" alt="No image">
                    <span class="contact-footer-span">trainings@it-lab.am</span>
                  </a>
                </li>
                <li class="li-footer">
                  <a href="#">
                    <img src="assets/Images/bx_map.png" alt="No image">
                    <span class="contact-footer-span">Ալեք Մանուկյան 1</span>
                  </a>
                </li>
                <li class="li-footer">
                  <a href="https://www.facebook.com/"><img src="assets/Images/Vectorrrrr.png" alt="No image"></a>
                  <a href="https://twitter.com/"><img src="assets/Images/Vector (1)a.png" alt="No image"></a>
                  <a href="https://www.linkedin.com/"><img src="assets/Images/Vector (2).png" alt="No image"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-block">
            <ul>
              <li class="li-footer-blocks">
                <a routerLink="/home" class="link-footer-blocks">
                  Գլխավոր
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="#lessons" class="link-footer-blocks">
                  Դասընթացներ
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="#training" class="link-footer-blocks">
                  Ուսուցման ձև
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="#advantages" class="link-footer-blocks">
                  Առավելություններ
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="#reviews" class="link-footer-blocks">
                  Կարծիք
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="#questions" class="link-footer-blocks">
                  Հաճախ տրվող հարցեր
                </a>
              </li>
              <li class="li-footer-blocks">
                <a href="/home" class="link-footer-blocks">
                  Գործընկերներ
                </a>
              </li>
            </ul>
          </div>
        </div>
       <div class="div-footer-block-two">
         <div class="footer-block">
           <ul>
             <li class="li-footer-blocks">
               <a routerLink="/about-us" class="link-footer-blocks">
                 Մեր մասին
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#our-feature" class="link-footer-blocks">
                 Առանձնահատկություններ
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#our-history" class="link-footer-blocks">
                 Պատմություն
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#teachers" class="link-footer-blocks">
                 Դասընթացավարներ
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#students" class="link-footer-blocks">
                 Ուսանողներ
               </a>
             </li>
           </ul>
         </div>
         <div class="footer-block">
           <ul>
             <li class="li-footer-blocks">
               <a routerLink="/our-advantages" class="link-footer-blocks">
                 Մեր առավելությունները
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#organization" class="link-footer-blocks">
                 Կազմակերպում
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="/about-course" class="link-footer-blocks">
                 Գնացուցակ
               </a>
             </li>
             <li class="li-footer-blocks">
               <a href="#training" class="link-footer-blocks">
                 Ուսուցում
               </a>
             </li>
           </ul>
         </div>
       </div>
    </div>
  </div>
</div>
