<app-header></app-header>
<div class="main">
  <div class="content-header-block">
    <div class="containerr">
      <div class="title-page-about-us">
        <h2 class="title-about-us">
          Մեր մասին
        </h2>
      </div>
    </div>
  </div>
  <div class="content-about-us-page">
    <div class="containerr">
      <div class="content-our-history" id="our-history">
        <h2>
          Մեր պատմությունը
        </h2>
        <div class="div-blocks-our-history">
          <div class="div-texts-our-history">
            <p>
              ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և, մասնավորապես ծրագրավորումը մեր օրերում պահանջված մասնագիտություն է․ ուստի որակյալ ծրագրավորող  դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով, որ 3-5 ամսում ծրագրավորող չեն դառնում։
              Gyumri IT Lab-ը ծրագրավորման ուսուցման  նորաբաց կենտրոն է Գյումրիում, որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ, այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։ Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։
            </p>
          </div>
          <div class="div-images-our-history">
            <div>
              <img src="assets/Images/Rectangle 328.png" alt="No image">
            </div>
            <div>
              <img src="assets/Images/Rectangle 327.png" alt="No image">
            </div>
          </div>
        </div>
      </div>
      <div class="div-content-our-feature" id="our-feature">
        <h2 class="title-our-feature">
          Ինչն է մեզ առանձնահատուկ դարձնում
        </h2>
        <div class="div-blocks-our-feature">
          <div class="block-our-feature">
            <div class="div-texts-blocks-our-feature">
              <h3>
                Հարմար
                ուսուցման ձև
              </h3>
              <p>
                Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։
              </p>
            </div>
            <div class="div-img-blocks-our-feature">
              <img src="assets/Images/kisspng-sat-bildung-oase-student-education-college-students-5ac817434431c4 2.png" alt="No image">
            </div>
          </div>
          <div class="block-our-feature">
            <div class="div-texts-blocks-our-feature">
              <h3>
                Առաջնորդի փորձաքննություն
              </h3>
              <p>
                Մեր դասընթացների շնորհիվ դուք ձեռք կբերեք առաջնորդին բնորոշ։
              </p>
            </div>
            <div class="div-img-blocks-our-feature">
              <img src="assets/Images/kisspng-international-student-study-skills-higher-educatio-college-student-5aeb585235a651 2asdasd.png" alt="No image">
            </div>
          </div>
          <div class="block-our-feature">
            <div class="div-texts-blocks-our-feature">
              <h3>
                Հուսալիություն և որակ
              </h3>
              <p>
                Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։
              </p>
            </div>
            <div class="div-img-blocks-our-feature">
              <img src="assets/Images/kisspng-student-portable-network-graphics-school-college-h-5c63b40e29f767 1a.png" alt="No image">
            </div>
          </div>
        </div>
      </div>
      <div class="div-content-teachers" id="teachers">
        <h2>
          Դասընթացավարներ
        </h2>
        <div class="div-teachers-description">
          <carousel>
            <slide>
              <div class="div-teachers-images-description">
                <div class="div-img-teacher">
                  <img src="assets/Images/Rectangle 54.png" alt="No image">
                </div>
                <div class="div-texts-description-teachers">
                  <h4>
                    Անի Արամյան
                  </h4>
                  <p>
                    Ծրագրավորման հիմունքներ
                  </p>
                  <ul>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span> Ծրագորավորման 15 տարվա փորձ </span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span> Դիպլոմային աշխատանքների ղեկավարում</span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Քննական հանձնաժողովների նախագահում</span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Դասավանդման տարիների փորձ</span>
                    </li>
                  </ul>
                </div>
              </div>
            </slide>
            <slide>
              <div class="div-teachers-images-description">
                <div class="div-img-teacher">
                  <img src="assets/Images/Rectangle 54asdasdasd.png" alt="No image">
                </div>
                <div class="div-texts-description-teachers">
                  <h4 class="title-teacher-two">
                    Գուրգեն Ղարիբյան
                  </h4>
                  <p>
                    Full stack PHP դասընթացի դասընթացավար
                  </p>
                  <ul>
                    <li class="li-teachers-description, li-teacher-two">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span> Գուրգենը ծրագրավորման ոլորտում ավելի քան 15 տարվա փորձ ունի։ </span>
                    </li>
                    <li class="li-teachers-description, li-teacher-two">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Հայաստանի Մայքրոսոֆթ ինովացիոն կենտրոնի և Գյումրու տեղեկատվական տեխնոլոգիաների կենտրոնի (GITC) կողմից համատեղ իրականացվող «Ծրագրավորման դասընթացներ Գյումրիում» ծրագրի շրջանակներում եղել է «Full Stack with JavaScript» դասընթացի թրեյներ։</span>
                    </li>
                    <li class="li-teachers-description, li-teacher-two">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Դիպլոմային և կուրսային աշխատանքների վերահսկում Հայաստանի ազգային պոլիտեխնիկական համալսարանի Գյումրու մասնաճյուղում, Շիրակի պետական համալսարանում և Շիրակի պետական տարածքային քոլեջում:</span>
                    </li>
                    <li class="li-teachers-description, li-teacher-two">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Շիրակի պետական համալսարանի բնագիտության և մաթեմատիկական ֆակուլտետի խորհրդի անդամ է ... <span class="span-more" mat-button [matMenuTriggerFor]="menu">Ավելին</span></span>
                      <div class="div-mat-menu-more">
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <div class="div-more-mat-menu">
                              <img src="assets/Images/asdasdasdasd.png" alt="No image">
                              <span>Շիրակի պետական մարզային քոլեջի ՏՏ բաժնի քննական հանձնաժողովի նախագահն է</span>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="div-more-mat-menu" >
                              <img src="assets/Images/asdasdasdasd.png" alt="No image">
                              <span>Նա երկակի կրթական ծրագրի շրջանակներում «ՏՏ բիզնեսի համար, ՏՏ հանուն կրթության» նախագծի հեղինակ է</span>
                            </div>
                          </button>
                          <button mat-menu-item>
                            <div class="div-more-mat-menu">
                              <img src="assets/Images/asdasdasdasd.png" alt="No image">
                              <span>Brain Fors ծրագրային ապահովման ընկերության հիմնադիր:</span>
                            </div>
                          </button>
                        </mat-menu>
                      </div>

                    </li>
                  </ul>
                </div>
              </div>
            </slide>
            <slide>
              <div class="div-teachers-images-description">
                <div class="div-img-teacher">
                  <img src="assets/Images/close-up-of-young-successful-man-smiling-at-camera-standing-in-casual-outfit-against-blue-background_1258-66609.jpg" alt="No image">
                </div>
                <div class="div-texts-description-teachers">
                  <h4>
                    Արմեն Կարապետյան
                  </h4>
                  <p>
                    Ծրագրավորման հիմունքներ
                  </p>
                  <ul>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Քննական հանձնաժողովների նախագահում</span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span> Դասավանդման տարիների փորձ</span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span> Ծրագորավորման 15 տարվա փորձ </span>
                    </li>
                    <li class="li-teachers-description">
                      <img src="assets/Images/asdasdasdasd.png" alt="No image">
                      <span>Դիպլոմային աշխատանքների ղեկավարում</span>
                    </li>
                  </ul>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="content-students" id="students">
        <h2 class="title-students-page">
          Ուսանողներ
        </h2>
        <div class="div-content-carousel-students">
            <div class="div-student-description">
              <div class="div-imgae-student">
                <img src="assets/Images/Rectangle 32677.png" alt="No image">
                <h5>
                  Մովսես մովսեսյան
                </h5>
              </div>
              <div class="div-description-student">
                <p>
                  Եկեք հերթով ծանոթանանք մեր հաջողակ ուսանողների պատմության հետ։<br>
                  Մովսեսը արդեն հաջողությաբ ավարտել է "Ծրագրավորման հիմունքներ" դասընթացը և պատմում է, որ ճիշտ է կան բազմաթիվ դժվարություններ, բայց պետք է համառ լինել ու գնալ առաջ, պետք է չկոտրվել ու կիսատ չթողնել ուսումը։
                  Հիմա Մովսեսը անցնում է պրակտիկա Գյումրիում  լավագույն IT գրասենյակներից մեկում՝ BrainFors-ում։
                  Մաղթում եմ Մովսեսին նորանոր հաջողություններ։
                </p>
              </div>
            </div>
        </div>
      </div >
    </div>
  </div>
</div>
<app-footer></app-footer>
