<app-blue-header></app-blue-header>
<div class="main">
  <div class="containerr">
    <div class="content-course-js">
      <h2>
        JavaScript FULL STACK COURSE
      </h2>
      <div class="div-blocks-content-about-course-js">
        <div class="div-image-text-about-course-js">
          <div class="div-image-about-course-js">
            <img src="assets/Images/20944118 152525.png" alt="No image">
          </div>
          <div class="div-description-course-js">
            <div class="div-row-course-js">
              <span>Սկիզբը</span>
              <span>25․02․2022</span>
            </div>
            <div class="div-row-course-js">
              <span>Դասընթացավար</span>
              <span>Քրիստինա Աճեմյան</span>
            </div>
            <div class="div-modules-course-js">
              <h5>
                ՄՈԴՈՒԼՆԵՐ
              </h5>
              <p>
                Ծրագրավորման հիմունքներ, Տևողությունը՝ 1 ամիս,<br> HTML / CSS Տևողությունը՝ 2 ամիս. <br> JavaScript Տևողությունը՝ 6 ամիս,
                <br> Angular Framework Տևողությունը՝ 3 ամիս, <br> NodeJS/MongoDB Տևողությունը՝ 2 ամիս
              </p>
            </div>
            <div class="div-price-course-js">
              <span>Արժեքը</span>
              <span>30,000 դրամ / 1 ամիս</span>
            </div>
          </div>
        </div>
        <div class="div-description-content-course-js">
          <p>
            JavaScript full-stack վեբ ծրագրավորման դասընթացն անցկացվում է մոդուլային ձևաչափով: Յուրաքանչյուր մոդուլից հետո ուսանողները հանձնում են քննություն և, կախված արդյունքներից, հնարավորություն են ստանում շարունակել ուսումը հաջորդ մոդուլներում։
            Full stack դասընթացի ավարտից հետո ուսանողները ստանում են վկայականներ, իսկ ավելի բարձր միավորներ և առաջադիմություն ունեցողները հնարավորություն են ստանում պրակտիկա անցնել Brain Fors ընկերությունում և ստանալ 50% փոխհատուցում ամբողջ դասընթացի համար:<br>
            Պրակտիկայի ընթացքում լավագույն արդյունք ցույց տված մասնակիցները կստանան աշխատանքի առաջարկ։
          </p>
        </div>
        <div class="div-button-login-course-js">
          <button>
            <a routerLink="/registration-page">
              Գրանցվել
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
