<app-blue-header></app-blue-header>
<div class="main">
  <div class="containerr">
    <div class="content-registration-page">
      <h2>
        Ծրագրավորման հիմունքներ
      </h2>
      <div class="content-block-registration-page">
        <div class="div-image-block-registration">
          <img src="assets/Images/20944118 1.png" alt="No image">
        </div>
        <div class="div-texts-block-registration">
            <div class="div-description-block-registration">
              <div class="row-description-blocks-description">
                <div>Արժեքը</div>
                <div>30,000 դրամ</div>
              </div>
              <div  class="row-description-blocks-description">
                <div>Տևողությունը</div>
                <div>1 ամիս</div>
              </div>
              <div  class="row-description-blocks-description">
                <div>Սկիզբը</div>
                <div>25․02․2022</div>
              </div>
              <div  class="row-description-blocks-description">
                <div>Դասընթացավար</div>
                <div>Գուրգեն Ղարիբյան</div>
              </div>
              <div class="div-description-full-stack-developer">
                <h4>
                  Ո՞վ է Full stack ծրագրավորողը
                </h4>
                <p>
                  Full stack ծրագրավորողները ամեն գործի վարպետներ են։ Նրանք կարող են աշխատելև որպես front end և back end, այն է կարող են մշակել վեբ հավելված սկզբից մինչև վերջ։ Full stack վեբ ծրագրավորողները պետք է ունենան գիտելիքներ վեբ ծրագրավորման բոլոր ճյուղերից, կարողանան կարգավորել Windows կամ Linux սերվերներ, գրել server-side API-ներ և այլն։
                </p>
              </div>
            </div>
        </div>
      </div>
      <div class="div-button-login-registration-page">
        <button>
          <a>
            Գրանցվել
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
