.main{
  width: 100%;
  padding: 29px 0;
  position: absolute;
  top: 0;
  background-color: #06295E;
}
.containerr{
  width: 1380px;
  margin: 0 auto;
}
.content-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-dropdown-menu{
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
}
.div-icon-dropdown-menu{
  width: 0;
  height: 0;
  opacity: 0;
}
.div-icon-dropdown-menu div{
  width: 30px;
  height: 3px;
  background-color: white;
}
.div-icon-dropdown-menu div:nth-child(2){
  margin: 5px 0;
}
.div-icon-close{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  color: white;

}

.menu ul{
  padding: 0;
}
.li_menu{
  list-style-type: none;
  display: inline-block;
}
.li-dropdown-menu{
  list-style-type: none;
  margin-bottom: 20px;
}
.menu ul .li_menu:nth-child(-n+4){
  margin-right: 26px;
}
.link-menu{
  text-decoration: none !important;
  font-family: 'Segoe UI' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: white !important;
}
.link-menu-dropdown{
  text-decoration: none !important;
  font-family: 'Segoe UI' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #06295E !important;
}
.button-reg{
  background: #42975B;
  border-radius: 0 20px;
  border: none;
  color: white !important;
  padding: 11px 27px;
}
.button-reg .link-menu {
  text-decoration: none !important;
  font-family: 'Segoe UI' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: white !important;
}
.active{
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}
@media screen and (max-width: 1400px){
  .containerr{
    width: 1180px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px){
  .containerr{
    width: 980px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000px){
  .containerr{
    width: 780px;
    margin: 0 auto;
  }
  .ul-menu{
    display: none;
  }
  .div-icon-dropdown-menu{
    width: 30px;
    height: 20px;
    opacity: 1;
  }
  .div-dropdown-menu{
    display: inline-block;
  }
}
@media screen and (max-width: 800px){
  .containerr{
    width: 95%;
    margin: 0 auto;
  }

}

