<app-header></app-header>
<div class="main">
  <div class="div-content-advantages-page">
      <div class="containerr">
        <div class="title-our-advantages">
          <h2>
            Առավելություններ
          </h2>
        </div>
      </div>
  </div>
  <div class="div-blocks-advantages">
    <div class="containerr">
      <div class="div-test-advantages-page">
        <div class="div-texts-test-advantages">
          <p>
            Եթե դուք չեք կողմնորոշվում ձեր մասնագիտության հարցում թե ինչ ընտրել մենք ձեզ կօգնենք
          </p>
          <div class="div-button-go-test">
            <button>
              <a href="#">
                Անցնել թեստ
              </a>
            </button>
          </div>
        </div>
        <div class="div-img-advantages">
          <img src="assets/Images/kisspng-lake-sumter-state-college-student-education-univer-5d0a1c127df303 1.png" alt="No image">
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-organization-of-the-course">
    <div class="containerr">
      <div class="content-ornagization-course">
        <h2>
          Դասընթացի կազմակերպում
        </h2>
        <div class="div-blocks-organization-course">
          <div class="div-description-organization-course">
            <h5>
              Տարիքային սահմանափակում՝ սկսած 16 տարեկանից։
            </h5>
            <ul>
              <li class="li-organization-course">
                🔹 Յուրաքանչյուր փուլից հետո ուսանողները հանձնում են քննություն, որի արդյունքներից կախված հնարավորություն են ստանում շարունակել դասընթացների շարքը
              </li>
              <li class="li-organization-course">
                🔹 Full Stack վեբ ծրագրավորման դասընթացի լավագույն ուսանողները հնարավորություն կստանան պրակտիկայի անցնել Brain Fors-ընկերությունում և կստանան cash back ընդհանուր վարձավճարի  50% չափով։
              </li>
              <li class="li-organization-course">
                🔹 Դասընթացները հեռավար ՉԵՆ, անցկացվելու են Gyumri IT Lab կենտրոնում՝ Ալեք Մանուկյան 1 հասցեով։
              </li>
            </ul>
          </div>
          <div class="div-images-blocks-organization-course">
            <div class="div-image-one">
              <img src="assets/Images/Rectangle 325.png" alt="No image">
            </div>
            <div class="div-small-images">
              <div class="div-row-one-images">
                <div>
                  <img src="assets/Images/Rectangle 45.png" alt="No image">
                </div>
                <div>
                  <img src="assets/Images/Rectangle 46.png" alt="No image">
                </div>
              </div>
              <div class="div-row-two-images">
                <div>
                  <img src="assets/Images/Rectangle 324.png" alt="No image">
                </div>
                <div>
                  <img src="assets/Images/Rectangle 322.png" alt="No image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-content-organization-training">
    <div class="containerr">
      <div class="div-block-organization-training">
        <h2>
          Ուսուցման կազմակերպում
        </h2>
        <p>
          ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և, մասնավորապես ծրագրավորումը մեր օրերում պահանջված մասնագիտություն է․ ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով, որ 3-5 ամսում ծրագրավորող չեն դառնում։
          Gyumri IT Lab-ը ծրագրավորման ուսուցման  նորաբաց կենտրոն է Գյումրիում, որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ, այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։ Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։
        </p>
        <div class="div-images-organization-training">
          <div>
            <img src="assets/Images/Rectangle 316.png" alt="No image">
          </div>
          <div>
            <img src="assets/Images/Rectangle 326.png" alt="No image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
