<app-blue-header></app-blue-header>
<div class="main">
  <div class="containerr">
    <div class="content-course-php">
      <div class="content-course-php">
        <h2>
          PHP FULL STACK COURSE
        </h2>
        <div class="div-blocks-content-about-course-php">
          <div class="div-image-text-about-course-php">
            <div class="div-image-about-course-php">
              <img src="assets/Images/20944118 1afafasfasfs.png" alt="No image">
            </div>
            <div class="div-description-course-php">
              <div class="div-row-course-php">
                <span>Սկիզբը</span>
                <span>25․02․2022</span>
              </div>
              <div class="div-row-course-php">
                <span>Դասընթացավար</span>
                <span>Գուրգեն Ղարիբյան</span>
              </div>
              <div class="div-modules-course-php">
                <h5>
                  ՄՈԴՈՒԼՆԵՐ
                </h5>
                <p>
                  Ծրագրավորման հիմունքներ Տևողությունը՝ 1 ամիս,<br> Ալգորիթմներ Տևողությունը՝ 1 ամիս, <br> HTML / CSS/ JS Տևողությունը՝ 3 ամիս,
                  <br> PHP / MySQL Տևողությունը՝ 5 ամիս, <br> Laravel Framework Տևողությունը՝ 3 ամիս
                </p>
              </div>
              <div class="div-price-course-php">
                <span>Արժեքը</span>
                <span>30,000 դրամ / 1 ամիս</span>
              </div>
            </div>
          </div>
          <div class="div-description-content-course-php">
            <p>
              PHP full-stack վեբ ծրագրավորման դասընթացն անցկացվում է մոդուլային ձևաչափով: Յուրաքանչյուր մոդուլից հետո ուսանողները հանձնում են քննություն և, կախված արդյունքներից, հնարավորություն են ստանում շարունակել ուսումը հաջորդ մոդուլներում։
              Full stack դասընթացի ավարտից հետո ուսանողները ստանում են վկայականներ, իսկ ավելի բարձր միավորներ և առաջադիմություն ունեցողները հնարավորություն են ստանում պրակտիկա անցնել Brain Fors ընկերությունում և ստանալ 50% փոխհատուցում ամբողջ դասընթացի համար:<br>
              Պրակտիկայի ընթացքում լավագույն արդյունք ցույց տված մասնակիցները կստանան աշխատանքի առաջարկ։</p>
          </div>
          <div class="div-button-login-course-php">
            <button>
              <a routerLink="/registration-page">
                Գրանցվել
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
