<app-header></app-header>
<div class="main">
  <div class="content-home-page-description">
    <div class="containerr">
      <div class="div-description">
        <div class="div-texts-description">
          <h2>
            Որակյալ կրթությունը կարեվոր է
          </h2>
          <p>
            Gyumri IT Lab-ը ծրագրավորման կրթական կենտրոն է, որտեղ ուսուցանվում են ծրագրավորման տարբեր լեզուներ և
            տեխնոլոգիաներ
          </p>
        </div>
        <div class="div-image-description">
          <img src="assets/Images/kisspng-student-portable-network-graphics-school-college-h-5c63b40e29f767 1.png"
               alt="No image">
        </div>
      </div>
    </div>
  </div>
  <div class="div-lessons" id="lessons">
    <div class="container_carousel">
      <h2>
        Դասընթացներ
      </h2>
      <div class="col-rt-12">
        <div class='carousel'>
          <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel'
                 type='radio'>
          <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
          <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
          <div class='carousel__controls'>
            <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
              <img src="assets/Images/Vector (1).png" alt="No image">
            </label>
          </div>
          <div class='carousel__controls'>
            <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
              <img src="assets/Images/Vector.png" alt="No image">
            </label>
            <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
              <img src="assets/Images/Vector (1).png" alt="No image">
            </label>
          </div>
          <div class='carousel__controls'>
            <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
              <img src="assets/Images/Vector.png" alt="No image">
            </label>
          </div>
          <div class='carousel__screen'>
            <div class='carousel__track'>
              <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                       <div class="div-lesson-date">
                         <div class="div-lesson-time">
                           <img src="assets/Images/asdad.png" alt="No image">
                           <h6>30 դաս</h6>
                         </div>
                         <div class="div-date-lessons">
                           <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                           <h6>20․05․2022</h6>
                         </div>
                       </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img2.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img4.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          JavaScript FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          HTML & CSS
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img2.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img4.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          HTML & CSS
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                <div class='demo-content'>
                  <div class="div-block-1">
                    <div class="div-image-carousel">
                      <img src="assets/Images/img1.png" alt="No image">
                    </div>
                    <div class="div-texts">
                      <div class="div-date-blocks-carousel">
                        <div class="div-lesson-date">
                          <div class="div-lesson-time">
                            <img src="assets/Images/asdad.png" alt="No image">
                            <h6>30 դաս</h6>
                          </div>
                          <div class="div-date-lessons">
                            <img src="assets/Images/akar-icons_calendar.png" alt="No image">
                            <h6>20․05․2022</h6>
                          </div>
                        </div>
                        <h4 class="title-price">
                          30.000 AMD
                        </h4>
                        <p class="description-lesson">
                          PHP FULL STACK COURSE
                        </p>
                        <p class="content-description-lesson">
                          Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի մասագիտություն
                        </p>
                        <div class="div-button-more">
                          <button>
                            <a routerLink="/lessons">
                              Տեսնել ավելին
                            </a>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-our-advantages" id="advantages">
    <div class="containerr">
      <div class="div-content-our-advantages">
        <h2>
          Մեր առավելությունները
        </h2>
        <div class="div-text-images-advantages">
          <div class="div-texts-advantages">
            <ul>
              <li class="li-advantages">
                <img src="assets/Images/asdasdasdasd.png" alt="No image">
                <p>Խորացված բազային գիտելիքներ</p>
              </li>
              <li class="li-advantages">
                <img src="assets/Images/asdasdasdasd.png" alt="No image">
                <p>Ուսուցում փորձառու մասնագետի հետ</p>
              </li>
              <li class="li-advantages">
                <img src="assets/Images/asdasdasdasd.png" alt="No image">
                <p>Պրակտիկայի և աշխատանքի հնարավորություն</p>
              </li>
              <li class="li-advantages">
                <img src="assets/Images/asdasdasdasd.png" alt="No image">
                <p>Վարձավճարի 50% փոխհատուցում</p>
              </li>
              <li class="li-advantages">
                <img src="assets/Images/asdasdasdasd.png" alt="No image">
                <p>Լավագույններին աշխատանքի տեղավորում</p>
              </li>
            </ul>
            <div class="div-button-more-advantages">
              <button>
                <a routerLink="/our-advantages">
                  Իմանալ ավելին
                </a>
              </button>
            </div>
          </div>
          <div class="div-images-advantages">
            <img src="assets/Images/Rectangle 328.png" alt="No image">
            <img src="assets/Images/Rectangle 327.png" alt="No image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-training" id="training">
    <div class="containerr">
      <div class="div-content-training">
        <h2>
          Ուսուցման ձև
        </h2>
        <div class="div-content-blocks-training">
          <div class="div-block-training">
            <div class="div-img-training">
              <img src="assets/Images/img-tr1.png" alt="No image">
            </div>
            <div class="div-texts-blocks-training">
                <h2>
                  Օֆֆլայն
                </h2>
              <div class="div-button-more-tr">
                <button>
                  <a routerLink="/registration-page">
                    Գրանցվել
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="div-block-training">
            <div class="div-img-training">
              <img src="assets/Images/img-tr2.png" alt="No image">
            </div>
            <div class="div-texts-blocks-training">
              <h2>
                Խմբակային
              </h2>
              <div class="div-button-more-tr">
                <button>
                  <a routerLink="/registration-page">
                    Գրանցվել
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="div-block-training">
            <div class="div-img-training">
              <img src="assets/Images/img-tr3.png" alt="No image">
            </div>
            <div class="div-texts-blocks-training">
              <h2>
                Անհատական
              </h2>
              <div class="div-button-more-tr">
                <button>
                  <a routerLink="/registration-page">
                    Գրանցվել
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="div-block-training">
            <div class="div-img-training">
              <img src="assets/Images/img-tr4.png" alt="No image">
            </div>
            <div class="div-texts-blocks-training">
              <h2>
                Ինտենսիվ
              </h2>
              <div class="div-button-more-tr">
                <button>
                  <a routerLink="/registration-page">
                    Գրանցվել
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-registration">
    <div class="containerr">
      <div class="div-content-resgistration">
        <div class="div-hours">
          <h2>
            դասըթացի սկզբին մնացել է
          </h2>
          <div class="div-blocks-hours">
            <div class="blocks-hours">
              <h5>
                6
              </h5>
              <p>
                օր
              </p>
            </div>
            <div class="blocks-hours">
              <h5>
                  3
              </h5>
              <p>
                ժամ
              </p>
            </div>
            <div class="blocks-hours">
              <h5>
                  12
              </h5>
              <p>
                րոպե
              </p>
            </div>
            <div class="blocks-hours">
              <h5>
                  40
              </h5>
              <p>
                վրկ
              </p>
            </div>
          </div>
        </div>
        <div class="div-form">
            <div class="div-content-form">
              <div class="div-description-form">
                <h2>
                  Գրանցվիր հիմա
                </h2>
                <p>
                  Գրանցվիր մեր դասընթացներին և ձեռք բեր արդի մասնագիտություն։
                </p>
              </div>
              <div class="div-inputs-registr">
                <div class="div-input">
                  <input type="text" class="input-name" placeholder="Անուն">
                </div>
                <div class="div-input">
                  <input type="email" class="input-email" placeholder="Էլ․հասցե">
                </div>
                <div class="div-input">
                  <input type="phone" class="input-phone" placeholder="Հեռ․">
                </div>
                <div class="div-button-login">
                  <button>
                    <a routerLink="/registration-page">
                      Գրանցվել
                    </a>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-organization" id="organization">
        <h2>
          Դասընթացի կազմակերպում
        </h2>
      <div class="div-organization-content">
      <div class="containerr">
         <div class="div-content-description-tt">
           <div class="div-description-tt">
             <p>
               ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և, մասնավորապես ծրագրավորումը մեր օրերում պահանջված մասնագիտություն է․ ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և առաջ գիտակցելով, որ 3-5 ամսում ծրագրավորող չեն դառնում։
               Gyumri IT Lab-ը ծրագրավորման ուսուցման  նորաբաց կենտրոն է Գյումրիում, որի նպատակն է ուսուցանել ծրագրավորում բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ, այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։ Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։
             </p>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="div-reviews" id="reviews">
    <div class="containerr">
     <div class="div-content-reviews">
       <h2 class="title-student">
         Կարծիքներ
       </h2>
       <p class="subtitle-student">
         Մեր ուսանողների կարծիքը մեր մասին։
       </p>
       <div class="div-blocks-students">
         <div class="block-student">
           <div class="div-img-student">
             <img src="assets/Images/img-student-1.png" alt="No image">
         </div>
           <div class="div-texts-student-block">
             <h2>
               Եվա Բաղդասարյան
             </h2>
             <p>
               Ուսանող
             </p>
             <div class="div-img-stars">
               <img src="assets/Images/stars.png" alt="No image">
             </div>
             <div class="div-desciption-stutend">
               <p>
                 Շատ շնորհակալ եմ գիտելիքների և օգնության համար։ Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
               </p>
             </div>
           </div>
         </div>
         <div class="block-student">
           <div class="div-img-student">
             <img src="assets/Images/img-student-2.png" alt="No image">
           </div>
           <div class="div-texts-student-block">
             <h2>
               Արամ Արամյան
             </h2>
             <p>
               Ուսանող
             </p>
             <div class="div-img-stars">
               <img src="assets/Images/stars.png" alt="No image">
             </div>
             <div class="div-desciption-stutend">
               <p>
                 Շատ շնորհակալ եմ գիտելիքների և օգնության համար։ Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
               </p>
             </div>
           </div>
         </div>
         <div class="block-student">
           <div class="div-img-student">
             <img src="assets/Images/img-student-1.png" alt="No image">
           </div>
           <div class="div-texts-student-block">
             <h2>
               Անի Հարոյան
             </h2>
             <p>
               Պրակտիկանտ
             </p>
             <div class="div-img-stars">
               <img src="assets/Images/stars.png" alt="No image">
             </div>
             <div class="div-desciption-stutend">
               <p>
                 Շատ շնորհակալ եմ գիտելիքների և օգնության համար։ Խորհուրդ եմ տալիս անպայման փորձել սովորել ծրագրավորում և երբեք չհանձնվել ` ինչ էլ, որ պատահի։
               </p>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  <div class="div-questions" id="questions">
    <div class="containerr">
      <div class="div-content-questions">
        <h2 class="title-questions">
          Հաճախ տրվող հարցեր
        </h2>
        <div class="div-accordion">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Ինչպե՞ս որոշել իմ գիտելիքների մակարդակը:
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="text-accordion">
                    Կարող եք անցնել մեր կողմից պատրաստած թետը
                  </p>
                  <a href="#" class="link-accordion">
                    Անցնել թետը
                  </a>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Ի՞նչ է պետք սովորելու համար:
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="text-accordion">
                    Համակարգիչ, ինտերնետ և սովորելու մեծ ցանկություն 😉
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Կա՞ն զեղչեր:
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="text-accordion">
                    Full Stack վեբ ծրագրավորման դասընթացի լավագույն ուսանողները հնարավորություն կստանան պրակտիկայի անցնել Brain Fors-ընկերությունում և կստանան cash back ընդհանուր վարձավճարի  50% չափով։
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Ինչպե՞ս են անցնում դասերը:
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p class="text-accordion">
                    Դասընթացները հեռավար ՉԵՆ, անցկացվելու են Gyumri IT Lab կենտրոնում՝ Ալեք Մանուկյան 1 հասցեով։
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="div-button-accordion">
            <button data-bs-toggle="modal" data-bs-target="#exampleModaal">
              ԴԵՌ ՀԱՐՑ ՈՒՆԵ՞Ք
            </button>
          </div>
          <div class="modal fade" id="exampleModaal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="div-modal-contenttt">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="div-btn-close">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="div-title-modal-questions">
                      <h3>
                        Ունեք հարցեր
                      </h3>
                    </div>
                    <div class="div-form-modal-questions">
                      <div class="div-inputs">
                        <input type="text" placeholder="Անուն">
                        <input type="text" placeholder="Ազգանուն">
                      </div>
                      <div class="div-inputs">
                        <input type="text" placeholder="Էլ․ հասցե">
                        <input type="text" placeholder="Հեռախոս">
                      </div>
                      <div class="div-sms-input">
                        <div class="form-floating">
                          <textarea class="form-control" placeholder="Հաղորդագրություն" id="floatingTextarea2" style="height: 100px"></textarea>
                        </div>
                      </div>
                      <div class="div-button-submit">
                        <button>
                          <a routerLink="/home">
                            Ուղարկել
                          </a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-contact-us" id="contact-us">
    <div class="containerr">
      <div class="div-content-contact-us">
        <h2>
          Կապ մեզ հետ
        </h2>
        <div class="div-contacts-and-map">
          <div class="div-contacts">
            <div class="div-phone">
              <h4 class="title-contacts-blocks">
                Զանգահարեք մեզ
              </h4>
              <p class="subtitle-contacts-blocks">
                +374 (94) 873-843
              </p>
            </div>
            <div class="div-email">
              <h4 class="title-contacts-blocks">
                Մեր էլ․հասցեն
              </h4>
              <p class="subtitle-contacts-blocks">
                <a href="https://mail.ru/" class="link-socialss">
                  trainings@it-lab.am
                </a>
              </p>
            </div>
            <div class="div-socials">
              <h4 class="title-contacts-blocks">
                Հետևեք մեզ
              </h4>
              <div class="div-icons-img">
                <a href="https://www.facebook.com/" class="link-socialss">
                  <img src="assets/Images/fb.png" alt="No image">
                </a>
                <a href="https://twitter.com/" class="link-socialss">
                  <img src="assets/Images/tw.png" alt="No image">
                </a>
                <a href="https://www.linkedin.com/" class="link-socialss">
                  <img src="assets/Images/in.png" alt="No image">
                </a>
              </div>
            </div>
            <div class="div-subscribe">
              <h5>
                Գրանցվեք տեղեկագրի համար
              </h5>
              <div class="div-subscribe-email">
                <input type="email" placeholder="Էլ․հասցե">
              </div>
            </div>
            <div class="div-button-subscribe">
              <button>
                <a routerLink="/registration-page">
                  Գրանցվել
                </a>
              </button>
            </div>
          </div>
          <div class="div-map">
            <img src="assets/Images/map.png" alt="No image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
